
*{
    margin: 0;
    padding: 0;
    font: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{ 
    width: 0;
    height: 0;
    /*Esconde a barra de rolagem*/
}
img{
    width: 100vw;

}
a{
    margin-top: -4px;
    display: block;
    color: white;
    background-color: darkred;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    background-color: red;
}