@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-position: top center;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela{
    position: relative;
    top: 81px;
    left: 23px;
    width: 264px;
    height: 469px;
}

button#home{
    position: absolute;
    display: flex;
    background-color: rgba(255, 255, 255, 0.24);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    margin-top: 271px;
    border-radius: 50%;
}

section#redes{
    text-align: right;
}

section#redes img{
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    transition: all .5s;
}

section#redes img:hover{
    transform: translate(-6px, -6px);
    border: 3px solid rgba(255, 255, 255, 0.404);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.575);
    transition: transform .5s, border .1s;
}